.logo-style {

    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;

    // img {
    //     width: 96px;
    //     height: 96px;
    // }

    h2 {
        padding: 0;
        margin: 0;
    }
}