.menu-widget-card {
    width: 200px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;

    img {
        width: 200px;
        height: auto;
        border-radius: 12px;
    }
}