.desctop-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
}

.nav-link {
    a {
        font-size: 18px;
        font-weight: bold;

        text-decoration: none;
        color: inherit;
    }
    
}