@use "../../assets/styles/common.scss" as *;

.contact-widget {
    // display: flex;
    // flex-wrap: wrap;
    // justify-content: space-between;
    display: flex;
    flex-direction: column;
    gap: 50px;

    margin-bottom: 50px;

    h4 {
        margin: 10px 0;
    }
}

