@use "../../assets/styles/common.scss" as *;

.about-container {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-phrase {
    max-width: 60%;

    font-family: 'Courier New', Courier, monospace;
    // font-size: 30px;
    font-weight: bold;
    text-align: center;

    @media screen and (min-width: 800px) {
        font-size: 30px;
    }
    @media screen and (min-width: 500px) and (max-width: 799px) {
        font-size: 24px;
    }
    @media screen and (max-width: 499px) {
        font-size: 20px;
    }
}